<h1><%= @user.email %></h1>

<h2>Created Events</h2>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %> - <%= event.date %></li>
  <% end %>
</ul>

<h2>Attending Events</h2>

<h3>Upcoming Events</h3>
<ul>
  <% @user.attended_events.select { |e| e.date >= Time.current }.each do |event| %>
    <li><%= link_to event.name, event_path(event) %> - <%= event.date %></li>
  <% end %>
</ul>

<h3>Past Events</h3>
<ul>
  <% @user.attended_events.select { |e| e.date < Time.current }.each do |event| %>
    <li><%= link_to event.name, event_path(event) %> - <%= event.date %></li>
  <% end %>
</ul>
