<h1>Create a New Event</h1>

<%= form_with model: @event, local: true do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>

  <div>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.submit "Create Event" %>
  </div>
<% end %>

<%= link_to "Back to Events", events_path %>
